html{
    height:100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.loginBackground{
    background-image:url("background.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Start Layout Style*/
.logo-container {
    margin-right: 7%;
}
.nav-color {
    background-color: #428bca;
    border-color: #428bca;
}

.nav-color .navbar-nav > li > a {
    color: white;
}
.nav-color .navbar-brand {
    color: white;
}

/*end Layout Style*/
/*Start Login Page*/
.md_title{
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 10%;
    border-radius: 50%;
    background-color: #428bca;
}
.form-group{
    color:#428bca;
}
.loginPanel {
    background-color:white;
    background-color : rgba(255, 255, 255, 0.65);
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 30%;
}
.loginForm{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;

}
.loginForm .btn-form{
     padding-top: 10%;
    padding-left: 35%;
     margin-right: auto;
    margin-left: auto;
}
/*End Login Page*/
/*Start main Page*/
.FullPanel 
{
    margin-top:5%;
}
.TableColab{
    margin-top:3%;

}
.TableColab thead{
    background-color:#cacaca;
}
.pagerStyle{
    padding-left: 5%;
    padding-right: 5%;
}
.ThLabel {
    color: #428bb2;
}
.paginate_button {
    background-color: #428bca;
    border-color: #428bca;
    color: white;
    border-width: 2px;
    border-style: solid;
    padding:0.75% 1%;

}
/*End Main Page*/
.message {
    background-color: #eee;
    margin-top: -1.5%;
    text-align: center;
    padding-bottom: 2%;
    height: auto;
}